<nz-header class="header">
  <div style="width: 960px">
    <div class="logo">拍卖</div>
    <nz-dropdown style="margin-left: 20px;">
      <a nz-dropdown style="color: white">
        所有拍品 <i nz-icon type="down"></i>
      </a>
      <ul nz-menu>
        <li nz-menu-item>
          <a routerLink="/main/gallery/view" (click)="selectedLi = -1">所有拍品</a>
        </li>
      </ul>
    </nz-dropdown>
    <a class="nav-li" routerLink="/main/gallery/create"
       [class]="selectedLi === 0 ? 'nav-li active' : 'nav-li'"
       (click)="selectedLi = 0">
      发布拍品
    </a>
    <nz-dropdown style="float: right;" [nzPlacement]="'bottomRight'">
      <div class="item d-flex align-items-center px-sm" nz-dropdown style="color: white; cursor: pointer">
        <nz-avatar [nzSrc]="user['avatar']" nzSize="small" class="mr-sm"></nz-avatar>
        {{ user['username'] }}
      </div>
      <div nz-menu class="width-sm">
        <div nz-menu-item><i class="anticon anticon-user mr-sm"></i>个人中心</div>
        <li nz-menu-divider></li>
        <div nz-menu-item (click)="logout()"><i class="anticon anticon-setting mr-sm"></i>登出</div>
      </div>
    </nz-dropdown>
  </div>
</nz-header>
